# Logs
.cache
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
.playwright-mcp

db/*.db*
db/*.sqlite
local.db*
dev.db
*.local
*.tsbuildinfo
.next
bin/
dist
dist-ssr
node_modules
tmp

# Editor directories and files
.env*
!.env.example
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

**/.claude/settings.local.json
**/.claude/CLAUDE.md

public/game-icons
public/blob-storage
public/paperforge
data/paperforge
.pnpm-store
